a.button, button[type="button"] {
	height: 40px;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;

	&.long {
		padding: 0 30px;
	}

	&:first-child {
		margin-right: 20px;
	}

	&.blue {
		background-color: #0552B5;
	}

	&.green {
		background-color: #099AA4;
	}

}