#mainHeader {
	
	height: var(--top);
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #F5F7FA;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	z-index: 5;

	input[type=checkbox] {

		display: none;
		appearance: none;
		-webkit-appearance: none;
		height: 70px;
		width: 70px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(/assets/hamburger.svg);
		transition: 100ms all;

		&:active {
			opacity: .5;
			transform: scale(.95);
		}

	}

	a img {
		height: 50px;
		width: auto;
	}

	nav a {

		font-size: 16px;
		transition: 100ms all;

		&.active, &:hover {
			text-decoration: underline;
			font-weight: 600;
		}

		&:not(:last-child) {

			margin-right: 10px;
		
		}

	}

}

@media all and (max-width: 767px) {

	#mainHeader {

		input[type=checkbox] {
			background-position-x: left;
			display: inline-block;
		}

	}

}
