#mainHeader {
	height: var(--top);
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	a img {
		height: 50px;
		width: auto;
	}

	nav a {

		font-size: 16px;
		transition: 100ms all;

		&.active, &:hover {
			text-decoration: underline;
			font-weight: 600;
		}

		&:not(:last-child) {

			margin-right: 10px;
		
		}

	}

}
