aside {

	width: 250px;
	background-color: #E4E7EB;
	border-top: 1px solid #CBD2D9;
	border-right: 1px solid #CBD2D9;
	top: var(--top);
	height: 100%;
	left: 0px;
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	transition: 150ms all;

	.header {

		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #CBD2D9;
		height: 50px;
		min-height: 50px;
		margin-bottom: 20px;

		h1 {
			font-weight: 400;
			color: #323F4B;
			font-size: 20px;
		}

	}

	details {

		margin-bottom: 20px;
		width: 95%;
		background-image: url(/assets/chevron-down.svg);
		background-repeat: no-repeat;
		background-position-x: right;
		background-size: 35px;
		background-position-y: -10px;

		&[open] {
			background-image: url(/assets/chevron-up.svg);
			background-position-y: -7px;
		}

		summary {

			cursor: pointer;
			min-height: 25px;

			&::-webkit-details-marker {
				display: none;
			}

		}

		.dropdown-link {

			display: block;
			width: 100%;
			margin-bottom: 10px;
			height: 30px;
			text-indent: 20px;

			// this will always target the first link because it's the first child after the <summary> tag
			&:nth-child(2) {
				margin-top: 10px;
			}

			&.active {
				font-weight: 600;
				text-decoration: underline;
			}

		}

	}

}

@media all and (max-width: 767px) {

	aside {
		width: 0px;
		visibility: hidden;

		* {
			opacity: 0;
		}

	}

	input[type=checkbox]:checked + aside {

		width: 100%;
		visibility: visible;

		* {
			opacity: 1;
		}

	}

}
